# Ignore Keys #
###############
*.key
key-*

# Ignore Compiled Source #
##########################
*.pyc

# Ignore PyCharm Configs #
##########################
./.idea/*

# Ignore the Database #
#######################
blockchain_db
